.projects{
    background-color: var(--gray-200);
}
.header-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 72px;
    h3{
        color: var(--red);
        font: var(--subtitle);
    }
    h2{
        color: var(--gray-600);
        font: var(--title-md);
        padding-bottom: 56px;
    }
}
.grid-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2 auto);
    gap: 24px;
    padding-bottom: 144px;
}
.ProjectCard{
    background-color: var(--gray-300);
    overflow: hidden;
    border-radius: 12px;
    width: 330px;
    height: 280px;
    display: flex;
    flex-direction: column;
}
.ProjectCard img{
    margin: 12px;
    max-width: calc(100% - 24px);
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
.text-card{
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.ProjectCard h1{
    color: var(--gray-600);
    font: var(--text-sm);
    display: flex;
    padding-bottom: 8px;
}
.ProjectCard p{
    color: var(--gray-500);
    font: var(--text-sm);
}